@import "tailwindcss";

@theme inline {
  --font-sans:   var(--font-inter);
  --font-serif:  var(--font-baskerville);

  --color-cream:        #FAF6EF;
  --color-surface:      #F2EBE0;
  --color-surface-2:    #EAE0D2;
  --color-ink:          #2A1A08;
  --color-ink-soft:     #56401E;
  --color-ink-mid:      #8C7355;
  --color-ink-light:    #7A5C3A;
  --color-rule:         #D8CBAF;
  --color-orange:       #C4481A;
  --color-orange-pale:  #FBF0E7;
}

body {
  background-color: #FAF6EF;
  color: #2A1A08;
}
